mixin custom-input(Obj, customAttr, attrI)
  - attrGroup = customAttr ? customAttr: {}
  - attrInput = attrI ? attrI: {}
  span&attributes(attrGroup)
    span&attributes(attributes)
      input(type=Obj.type, name="#{typeof(Obj.name) === 'undefined' ? Obj.id : Obj.name}", id="#{Obj.id}")&attributes(attrInput)
    label(for="#{Obj.id}")!=Obj.label

mixin select(arr, selected)
  select&attributes(attributes)
    each val, index in arr
      -if(selected){
        -if(index === selected){
          option(value=index, selected)!=val
        -}else{
          option(value=index)!=val
        -}
      -}else{
        optgroup(label=val.label)
          each value, index in val.groupDetails
            -if(val.selected === index){
              option(value=index, selected)!=value
            -}else{
              option(value=index)!=value
            -}
      -}

//- mixin select-group(arr)
//-   select&attributes(attributes)
//-     for group in arr
//-       optgroup(label=group.label)
//-         each value, index in group.groupDetails
//-           -if(group.selected === index){
//-             option(value=index, selected)!=value
//-           -}else{
//-             option(value=index)!=value
//-           -}
